In [7]:
#以下是对变量的练习

#数字类型
money=100000
print('初始资金：'+str(money))
money=money-3.5
print('现有资金：'+str(money))

初始资金：100000
现有资金：99996.5

In [8]:
#其他类型
t=False
print(type(t))
a=(1,2,3)
print(type(a))
b=[1,2,3]
print(type(b))
c={1,2,3}
print(type(c))
d={'姓名':'小明','性别':'男'}
print(type(d))

<class 'bool'>
<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'dict'>

In [9]:
# 序列类型进阶
b[0:2]

[1, 2]

In [10]:
# 创建布尔列表  
bool_list = [False] * 4094
bool_list = True

In [18]:
df3.loc[bool_list]

     A    B      C  D  E
2  baz  two  large  3  4

In [ ]:
#字符串

#字符串是一种序列
title='崆峒真人'
skill='太虚剑法'
print(type(title))
print(title+'使用了'+skill)

<class 'str'>
崆峒真人使用了太虚剑法